.nav li {
  margin-right: 2rem;
}

h2 {
  margin-left: 2rem;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  color: dimgray;
}

nav {
  padding: 1rem 0 0 1rem;
  background-color: rgb(242, 242, 242);
  border-bottom: 1px solid silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  margin-bottom: 2rem;
}
