.card {
  width: 18rem;
}

.list {
  display: flex;
  gap: 2rem;
  align-items: stretch;
}

.add-event {
  width: fit-content
}

.bi {
  margin-left: 1rem;
  margin-right: 1rem;
}

.event-listing {
  border: 1px solid gray;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 10px 10px 10px gainsboro;
}

.event-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons > i {
  font-size: 2rem;
}