.add-event {
  margin-top: 2rem;
  width: fit-content
}

.bi {
  margin-left: 1rem;
  margin-right: 1rem;
}

.event-listing {
  border: 1px solid gray;
  padding: 1rem;
  box-shadow: 10px 10px 10px gainsboro;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.event-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons > i {
  font-size: 2rem;
}