.add-event {
  margin-top: 2rem;
  width: fit-content
}

.add-event-form {
  display: flex;
  flex-direction: column;
}

.bi {
  margin-left: 1rem;
  margin-right: 1rem;
}

.event-listing {
  border: 1px solid gray;
  padding: 1rem;
  box-shadow: 10px 10px 10px gainsboro;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.event-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons > i {
  font-size: 2rem;
}

.tags {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 100%;
}

.tags span {
  grid-column: 1 / 2;
}

.tags .form-input {
  grid-column: 2 / 3;
}

form {
  color: black !important;
}