form {
  display: grid;
  grid-template-columns: 10rem 1fr;
  max-width: fit-content;
  grid-row-gap: 1rem;
}

label {
  grid-column: 1 / 2;
}

input, button {
  grid-column: 2 / 3;
}

h2 {
  padding-bottom: 1rem;
}