.App {
  display: grid;
  grid-template-rows: auto 1fr 3rem;
  background-color: white;
  height: 100vh;
}

.App > div {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.dark {
  background-color: rgb(30, 30, 30);
  color: rgb(224, 224, 224);
}

.dark nav {
  background-color: rgb(72, 72, 72);
}

.light {
  background-color: white;
  color: black;
}

a:hover {
  color: gray !important;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

footer a {
  color:dimgray;
  text-decoration: none;
}

.signup {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.bi {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
}

.navbar-nav > a {
  color:rgb(72, 72, 72);
  text-decoration: none;
  margin-right: 2rem;
}