.error {
  border: 1px solid red;
  width: 22rem;
  padding: 0.2rem;
  margin-top: 1rem;
}

.warning {
  border: 1px solid red;
  color: red;
  padding: 0.2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.container {
  margin: 0;
  min-height: 90vh;
  display: grid;
  grid-template-rows: 1fr 5rem;
}